{% extends 'base.html.twig' %} 

{% block title %}Mon profile{% endblock %} 
{% block body %} {% endblock %} 

{% block subtitle %}
<h3 class="titre">Mon profile</h3>
{% endblock subtitle %} 

{% block catego %}{% endblock catego %}
{% block btn %}Panier{% endblock btn %} 
{% block btn2 %}Log out{% endblock btn2 %} 

 

{% block form %}
<div class="container">
    <div class="row  formAccount">
        <section class="col-md-6">
            {{form_start(formAccount)}} 
            {{form_widget(formAccount)}}
            <button class="btn btn-primary" type="submit">Submit</button>
            {{form_end(formAccount)}}
        </section>
    </div>
</div>
{% endblock form %}