{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<body>
{% block welcome %}

<p>Bienvenue Mme Dupont !</p>
{% endblock welcome %}
</body>
{% endblock body %}
