{% extends 'base.html.twig' %} {% block title %}Hello {{ controller_name }}!{% endblock %} {% block body %}

<body class="body"


    <div class="add_category">Add Category</div>

    <input type="text" aria-label="name_edit_cat"></input>

    <button class="submit_cat">Update</button>
</body>
{% endblock %}