{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<body class="body3">
    
    <div class="add_catego">Add Category</div>
    <div class="add_produc">Add Product</div>

    
</body>
{% endblock %}
